
@model IEnumerable<BoredWebApp.Models.Activity>



<h1>Bored?</h1>
<h2>Here's some things you can try:</h2>
<div class="panel-body">
        @foreach (var a in Model)
        {
            <p>@a.activity</p>
        }
</div>