
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="~/Specific/ShowActivity" method="post">
    <p>Select a type of activity:</p>
    <select name="type" required>
        <option></option>
        <option value="education">Educational</option>
        <option value="recreational">Recreational</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="charity">Charity</option>
        <option value="cooking">Cooking</option>
        <option value="relaxation">Relaxation</option>
        <option value="music">Music</option>
        <option value="busywork">Busy Work</option>
    </select>

    <button type="submit">Submit</button>
</form>